name: PR
on:
  pull_request:
    branches-ignore:
      - 'release-please**'

env:
  NODE_VERSION: '18'
  PNPM_VERSION: 8

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest

    if: contains(fromJson('["ved-bot", "renovate[bot]"]'), github.actor) == false

    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install packages
        run: pnpm install

      - name: Test and Coverage (PR)
        uses: anuraag016/Jest-Coverage-Diff@master
        with:
          accessToken: '${{ secrets.GH_BOT_TOKEN }}'
          runCommand: 'pnpm run test --coverage'
          # delta: 0.5 # Delta of % changed that would make this job fail
          afterSwitchCommand: 'pnpm install'
        env:
          COV_REPORTER: 'json-summary'
          COV_DIRECTORY: './'
